<h1>Town Hall</h1>
<div>
  <%= link_to "Log in", new_user_session_path, method: :get unless user_signed_in? %>
  <%=" to reveal the speaker" unless user_signed_in? %>
</div>

<div><%= image_tag("angela.gif", :alt => "Angela talking about gossip culture back in her small home town") %></div>

<div>
  <% @posts.each do |post| %>
    <div>
      <div><%= "#{post.user.username}: " if user_signed_in? %></div>
      <em>
        <div><%= post.content %></div>
      </em>
    </div>
  <% end %>
</div>

<div><%= link_to "Share thy tittle-tattle", new_post_path %></div>

<%= button_to "logout", destroy_user_session_path, method: :delete if user_signed_in? %>  
